@import'../../assets/styles/colors.scss';

footer{
    background: $secondery;
    padding: 50px 10px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    color: white;
    justify-content: space-around;
}
.item{
    display: flex;
    align-items: center;
    margin:20px 15px;
    margin-left: 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.circle{
    width: 15px;
    height:15px;
    border-radius: 50%;
    background:$highlight ;
    margin-right: 15px;
}

@media (max-width:1300px){
    .item:nth-child(3),.item:nth-child(4){
        display: none;
    }
}
@media (max-width:730px){
    .item:nth-child(2),.item:nth-child(3),.item:nth-child(4){
        display: none;
    }
}