<div class="caseStudies">
    <div class="videoCntnr">
        <iframe class="video" type="text/html" src="https://www.youtube.com/embed/NDOtnjlmIK0"></iframe>
        <div class="videoCover" [style]="{'background-image':'url(assets/backgroundV1.jpg'}" *ngIf="hideVideo[0]" (click)="playVideo(0)"></div>
    </div>

    <div class="text">
        <div class="part">
            
          When MCS approached one of the biggest YouTubers in the UK to make them chocolate products for content purposes; the excitement started with the initial email response!
          First meeting with Sidemen, we started to brainstorm on how chocolate products can aid 
          their social content as well as monetising their brand; they have a clothing line already. We 
          devised a 12 monthly roadmap on when the potential product drops can happen.
        </div>
        <div class="part">
            Our first launch was making some limited edition Easter Eggs, with the main purpose of using these easter eggs for their youtube content ‘SDMN easter egg hunt’ post airing on youtube they sold out within 5 mins (crashing their website twice due to the amount of traffic generated). We have since made them their advent calendar with exclusive content behind each window so they can ENGAGE with their audience in a truly unique way! 
            
            <div class="hiden" *ngIf="!hideText[0]">
                2022 looks good with new products being launched in November – keep your eyes peeled on their socials for further news.
            </div>
            <div class="button">
                <button (click)="viewText(0)">
                    {{hideText[0]?'View more':'View less'}}
                </button>
            </div>
        </div>
    </div>

    <div class="videoCntnr">
        <iframe class="video" type="text/html" src="https://www.youtube.com/embed/F2nNOttG2C0"></iframe>
        <div class="videoCover" [style]="{'background-image':'url(assets/backgroundV2.jpg'}" *ngIf="hideVideo[1]" (click)="playVideo(1)"></div>
    </div>

    <div class="text">
        <div class="part">
            When businesswoman and media personality, Gemma Collins teamed up with us at My Chocolate Shop to build a new chocolate brand from scratch. It all started with a mini proposal to her management with our vision and how a chocolate product could help monetize her brand. 

        </div>
        <div class="part">
            We created a luxury PINK chocolate bar to resonate with her and her audience - no palm oil, swiss milk and rich and creamy! Most importantly DIVALICIOUS. Within 6 weeks we were able to do her branding and product development; creating the DIVA Chocolate range which included her advent calendars, easter eggs, truffles and meme chocolate bars. 
            
            <div class="hiden" *ngIf="!hideText[1]">
                On the first day of her launch, we sold over 400 products with the the first week totalling around 4000 units sold.

            </div>
            <div class="button">
                <button (click)="viewText(1)">
                    {{hideText[1]?'View more':'View less'}}
                </button>
            </div>
        </div>
    </div>
    

</div>
