<section id="contactUs" class="contactUs">
    <div class="text">
        <h2>Nothing better than a <span class="highlight">good chat</span> </h2>
        <p>We would love to arrange a meeting to find out more about you. Fill in our contact form to get in touch!</p>
    </div>
    <form>
        <div class="names">
            <input type="text" placeholder="Business Name" autocomplete="additional-name">
            <input type="text" placeholder="Your Name" autocomplete="name">
        </div>
        <div class="contactInfo">
            <input type="text" placeholder="Email" autocomplete="email">
            <input type="text" placeholder="Phone number" autocomplete="tel">
        </div>
        <textarea class="message" placeholder="How can we help?"></textarea>
        <div class="button">
            <button type="button">Submit</button>
        </div>
    </form>
</section>
