@import'../../assets/styles/colors.scss';

.contactUs{
    background: $primary;
    color: white;
    padding: 80px 0px;
}
.text{
    width: 40%;
    margin: auto;
    text-align: center;
}
h2{
    text-transform: uppercase;
}
.highlight{
    color: $highlight;
}
form{
    width: max-content;
    margin:40px auto;
    width: 50%;
}
input, textarea{
    background: $inputFields;
    width: calc(50% - 40px);
    height: 30px;
    margin: 10px;
    padding: 8px;
    color: white;
    outline: unset;
    border: unset;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
textarea{
    width: calc(100% - 45px);
    height: 150px;
    font-size: 20px;
    resize: none;
}
input::placeholder, textarea::placeholder{
    color: rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
}

.notification{
    color: white;
    width: max-content;
    margin: auto;
    padding: 20px 0px;
}
.button{
    width: max-content;
    margin: auto;
}

button{
    padding: 15px 50px;
    border: white solid 2px;
    background: $primary;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}


@media (max-width:1025px){
    form{
        width:80%;
    }
    .text{
        width: 60%;
    }
}
@media (max-width:700px){
    form, textarea, input{
        width:90%;
        display: block;
    }
    .text{
        width: 90%;
    }
    .button, button{
        width: 90%;
    }
}