<section id="contactUs" class="contactUs">
    <div class="text">
        <h2>Nothing better than a <span class="highlight">good chat</span> </h2>
        <p>We would love to arrange a meeting to find out more about you. Fill in our contact form to get in touch!</p>
    </div>
    <form [formGroup]="contact">
        <div class="names">
            <input type="text" formControlName='businessName' placeholder="Business Name" autocomplete="additional-name" maxlength="50">
            <input type="text" formControlName='name' placeholder="Your Name" autocomplete="name" maxlength="50">
        </div>
        <div class="contactInfo">
            <input type="text" formControlName='email' placeholder="Email" autocomplete="email" maxlength="50">
            <input type="text" formControlName='phone' placeholder="Phone number" autocomplete="tel" maxlength="50">
        </div>
        <textarea class="message" formControlName='message' placeholder="How can we help?" maxlength="600"></textarea>
        <div class="notification">
            {{notif}}
        </div>
        <div class="button">
            <button type="button" (click)="submit()">Submit</button>
        </div>
    </form>
</section>
