@import'../../assets/styles/colors.scss';

.products{
    padding:20px 90px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    background: $primary;
    color: white;
    h1{ padding-top: 40px;
        text-transform: uppercase 
    }
}
.textborder{
    color: black;
    -webkit-text-stroke: 2px $highlight;
}
h3{
    padding-top: 30px;
    padding-bottom: 40px;
}
.examples{
  position: relative;
  margin-top:70px ;
  border-top: solid white 1px;
  h2{
    position: relative;
    top: min(-2vw,-14px);;
    text-transform: uppercase;
    background: $primary;
    margin:0px auto; 
    padding:0px 10px ;
    word-wrap: break-word;
    width: max-content;

  }
}
.photos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.photo{
    width: 22%;
    min-width: 230px;
    max-width: 350px;
    height: 500px;
    margin: 10px;
    position: relative;
    background-size: cover; 
    background-position: center;

}
.hover{
    position: absolute;
    bottom: 0px;
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: small;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.521));
    width: 100%;
    p{
        padding: 10px 10px;
        width: max-content;
        margin: 0px;
        
    }
    .SM{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        text-align: left;
        font-size: x-small;
        div{
            margin-left: 8px;
            display: flex;
        }
        img{
            width: 15px;
            height: 15px;
            margin-right:5px ;
            
        }
    }
}
.text{
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 170%;
    font-weight: 450;
    margin-bottom: 50px;
}
.highlight{
    color: $highlight;
}

.startBrand{
    padding: 70px 0px;
    background:url('../../assets/bg1.png') ;
    background-size: cover; 
    background-position: center;
    .photos{
        width: 80%;
        margin: auto;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .photo{
        width: 30%;
    }
}
.hide{
    display: none;
}

@media  (max-width:1025px) {
    .text{
        width: 70%;
    }
}

@media  (max-width:700px) {
    .products{
        padding:20px;
    }
    .examples{
        border:unset;
        h2{
            width: unset;
        }
    }
    .photo{
        width: 100%;
    }
    .startBrand{
        background:url('../../assets/bgSS.png') ;
        .photos{
            width: 100%;
            margin: auto;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .photo{
            width: 100%;
            height: 450px;
        }
    }
    .hide{
        display: block;
    }
    .text{
        width: 90%
    };
}