<section id="products" class="products">
    <h1>
        My chocolate shop is a client-first chocolatier that specialises in creating premium,
        <span class="textborder">yet affordable chocolate products.</span>
    </h1>
    <h3>For corporates, creators, celebrities, and sports stars.</h3>
    <div class="examples">
        <h2>
            some of the people we've worked with
        </h2>
        <div class="photos">
            <div *ngFor="let p of photos;let i=index;" class="photo" [style]="{'background-image':'url(assets/'+p.url+')'}" (mouseenter)="disp(i)" (mouseleave)="disp(i)">
               
                <div  class="hover" [ngClass]="{'hide':!dip[i]}">
                    <p>{{p.name}}</p>
                    <div class="SM">
                        <div *ngIf="p.insta">
                            <img src="assets/inst.png" alt="">
                            {{p.insta}}
                        </div>
                        <div *ngIf="p.tiktok">
                            <img src="assets/tiktok.png" alt="">
                            {{p.tiktok}}
                        </div>
                        <div *ngIf="p.youtube">
                            <img src="assets/youtube.png" alt="">
                            {{p.youtube}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text">
        <h1>Quality</h1>
        <p>
           Our ingredients come from the same ethical coca plantations as Hotel chocolat, as well as being palm oil free. This means we can offer recipes of the same quality as industry-leading boutique manufactures.
        </p>
    </div>
</section>


<section class="startBrand">
    <div class="text">
        <h1>Start Your own <span class="highlight">Brand</span></h1>
        <p>
             Start your OWN brand: Let your audience connect with you in a chocolate way! Our range of products enables us to create both seasonal products such as Easter eggs and advent calendars, or something much more personalised to your vision. We can product develop anything in the chocolate pace; we also create protien chocolate bars for some of the largest names in the sport supplements industry.
        </p>
    </div>
     <div class="photos">
        <div *ngFor="let p of photos2;" class="photo" [style]="{'background-image':'url(assets/'+p+')'}">
        </div>
     </div>
</section>
